.form-body {
  padding: 0 30px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow: hidden;
    padding-top: 20px;
  }
}

.form-body__radiogroup,
.form-body__checkboxgroup,
.form-body__customer-name {
  @include remove-fieldset-borders;
  margin: 0;
  padding: 30px 0;
}

.form-body__customer-phone,
.form-body__customer-email,
.form-body__customer-addit-info {
  @include remove-fieldset-borders;
  @include flex-column;
  position: relative;
  padding: 10px 0;
}

.form-body__customer-addit-info {
  margin-bottom: 10px;
  padding-bottom: 0;
}

.form-body__legend {
  @include font-open-sans-bold($size: $h3-font-size, $color: $light-green, $lh: 16px);
  width: 65px;
  margin-top: -40px;
  margin-bottom: 20px;
  background-color: #ffffff;
  text-transform: uppercase;
}

.form-body__customer-phone .form-body__legend,
.form-body__customer-email .form-body__legend,
.form-body__customer-addit-info .form-body__legend {
  margin-top: -22px;
  margin-bottom: 0;
}

.form-body__list {
  padding: 0 0;
}

.form-body__item {
  @include font-open-sans-bold($size: $h3-font-size, $lh: 17px);
  display: flex;
  padding: 15px 60px;
}

.form-body__customer-name {
  margin-bottom: 5px;
  .form-body__item {
    @include flex-column;
    padding: 10px 0;
    margin-bottom: 0;
  }
}

.form-body__radiogroup {
  // @include border(blue);
  padding: 0;
  margin-bottom: 57px;
}

.form-body__radiogroup .form-body__item {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  // @include border(blue);
}

.form-body__radiogroup .form-body__legend {
  margin-top: -10px;
}

.form-body__checkboxgroup {
  margin-bottom: 16px;
  padding-bottom: 0;
  .form-body__item {
    padding-left: 40px;
    margin-bottom: 13px;
  }
}

// Оформление кастомных радиокнопок

.form-body__radio-button {
  opacity: 0;

  &:focus ~ .form-body__radio-label::before {
    border-color: $light-green;
  }
}

.form-body__radiogroup .form-body__item {
  display: block;

}

.form-body__radio-label {
  display: inline-block;
  width: 200px;
  padding: 0;

  transition: color 0.25s;

  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form-body__radio-label::after,
.form-body__radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
}

.form-body__radio-label::before {
  width: 40px;
  height: 40px;
  border: solid 2px #444444;
  top: 3px;
  transition: border-color 0.25s;
}

.form-body__radio-label::after {
  width: 15px;
  height: 15px;
  background-color: #62d1ba;
  transform: scale(0);
  transition: transform 0.25s;
  top: 16px;
  left: 13px;
}

.form-body__radiogroup .form-body__item:nth-child(1) {
  margin-bottom: 5px;

  .form-body__radio-label {
    margin-top: -5px;
  }
}

.form-body__item:nth-child(2) {
  .form-body__radio-label::before {
    top: 11px;
  }

  .form-body__radio-label::after {
    top: 23px;
  }
}

.form-body__radio-button:checked ~ .form-body__radio-label::before {
  border-color: #c7c7c7;
}

.form-body__radio-button:checked ~ .form-body__radio-label::after {
  transform: scale(1.1);
}

.form-body__radio-button:checked ~ .form-body__radio-label {
  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form-body__label[for="radio-interior"] {
  min-width: 150px;
}

// Оформление кастомных чекбоксов

.form-body__checkbox {
  opacity: 0;

  &:focus ~ .form-body__checkbox-label::before {
    border-color: $light-green;
  }
}

.form-body__checkbox-label {
  position: relative;
  transition: color 0.25s;

  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form-body__checkbox-label::after,
.form-body__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
}

.form-body__checkbox-label::before {
  width: 41px;
  height: 41px;
  border: solid 2px #444444;
  top: -11px;
  transition: border-color 0.25s;
}

.form-body__checkbox-label::after {
  width: 24px;
  height: 12px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg) scale(0);
  transition: transform 0.25s;
  top: 0;
  left: -50px;
}

.form-body__checkbox:checked ~ .form-body__checkbox-label::before {
  border-color: #c7c7c7;
}

.form-body__checkbox:checked ~ .form-body__checkbox-label::after {
  transform: rotate(135deg) scale(1);
}

.form-body__checkbox:checked ~ .form-body__checkbox-label {
  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form-body__input-text {
  @include font-open-sans($size: 17px);
  position: relative;
  width: 100%;
  border: none;
  padding: 15px 0;
  outline: none;
  box-shadow: 0 4px 0 -2px black;

  &:hover {
    box-shadow: 0 4px 0 -2px $light-green;
  }

  &:focus {
    box-shadow: 0 3px 0 -2px $light-green;
  }

  &:hover + .form-body__icon {
    fill: $light-green;
  }
}

.form-body__customer-email,
.form-body__customer-phone {
  position: relative;
}

.form-body__customer-phone {
  margin-bottom: 38px;

  .form-body__input-text {
    padding: 15px 0;
  }
}

.form-body__customer-email {
  margin-bottom: 38px;
}

.form-body__customer-email .form-body__icon,
.form-body__customer-phone .form-body__icon {
  position: absolute;
  top: 35%;
  right: 0;
}

.form-body__input-text::placeholder,
.form-body__input-textarea::placeholder {
  color: $light-black;
  opacity: 0.3;
}

.form-body__input-textarea {
  @include font-open-sans($size: 15px, $lh: 18px);
  width: 100%;
  height: 140px;
  padding: 10px;
  margin-top: 25px;
  border: 2px solid $light-black;
  transition: border-color 0.25s;
  resize: none;
  outline: none;

  &:hover,
  &:active {
    border-color: $light-green;
  }
}

.form-body__note {
  @include font-open-sans($size: 14px, $lh: 16px);
  // font: 12px $regular-font;
}

.form-body__submit {
  margin: 30px 0 54px 0;
}

@media (min-width: $tablet-width) {
  .form-body {
    padding: 0;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-body__radiogroup,
  .form-body__checkboxgroup,
  .form-body__customer-name {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 50px;
    margin-bottom: 20px;
    border: none;
  }

  .form-body__customer-phone,
  .form-body__customer-email,
  .form-body__customer-addit-info {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 40px 50px;
    border: none;
  }

  .form-body__legend {
    margin: 0;
    margin-top: 20px;
    flex-basis: 27%;
    background-color: transparent;
  }

  .form-body__list {
    flex-basis: 73%;
  }

  .form-body__item {
    padding: 15px 0;
    margin-bottom: 25px;
  }

  .form-body__label {
    font-size: 19px;
    line-height: 18px;
  }

  .form-body__checkboxgroup {
    background-color: $light-gray;
  }

  .form-body__checkboxgroup .form-body__list {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 220px;
  }

  .form-body__checkboxgroup .form-body__item {
    flex-basis: 50%;
  }

  .form-body__radiogroup,
  .form-body__checkboxgroup {
    overflow-x: hidden;

    .form-body__list {
      transform: translateX(55px);
    }
  }

  // Меняю размеры кастомных радиокнопок

  .form-body__radio-label {
    position: relative;
    transition: color 0.25s;

    &:hover {
      &::before {
        border-color: $light-green;
      }
    }
  }

  .form-body__radio-label::after,
  .form-body__radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -64px;
    border-radius: 50%;
  }

  .form-body__radio-label::before {
    width: 48px;
    height: 48px;
    border: solid 1px #5a5a5a;
    top: -16px;
    transition: border-color 0.25s;
  }

  .form-body__radio-label::after {
    width: 18px;
    height: 18px;
    background-color: #62d1ba;
    transform: scale(0);
    transition: transform 0.25s;
    top: -1px;
    left: -49px;
  }

  // Меняю размеры кастомных чекбоксов

  .form-body__checkbox-label::after,
  .form-body__checkbox-label::before {
    top: 0;
    left: -65px;
  }

  .form-body__checkbox-label::before {
    width: 50px;
    height: 50px;
    top: -15px;
  }

  .form-body__checkbox-label::after {
    width: 30px;
    height: 20px;
    top: -3px;
    left: -54px;
  }


  .form-body__customer-name .form-body__item {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
  }

  .form-body__customer-name-label {
    margin-right: 20px;
  }

  .form-body__input-text {
    padding: 12px 17px;
    background-color: transparent;
    line-height: 18px;
  }

  .form-body__customer-email .form-body__icon {
    top: 25%;
    right: 50px;
  }

  .form-body__customer-phone .form-body__icon {
    top: 60%;
    right: 50px;
  }

  .form-body__customer-phone,
  .form-body__customer-email {
    background-color: $light-gray;
    padding-bottom: 0;
  }

  .form-body__customer-email {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .form-body__customer-addit-info {
    padding-bottom: 20px;
  }

  .form-body__customer-phone .form-body__legend,
  .form-body__customer-email .form-body__legend,
  .form-body__customer-addit-info .form-body__legend {
    flex-basis: 27%;
  }

  .form-body__customer-phone .form-body__input-text,
  .form-body__customer-email .form-body__input-text,
  .form-body__customer-addit-info .form-body__input-textarea {
    flex-basis: 73%;
    font-size: 19px;
  }

  .form-body__customer-phone .form-body__input-text {
    border-bottom: 2px solid black;
    outline: 1px solid transparent;

    &:hover {
      border-bottom-color: $light-green;
    }

    &:focus {
      border-bottom-color: $light-green;
      border-bottom-width: 2px;
    }
  }

  .form-body__bottom-wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 50px;
  }

  .form-body__note {
    font-size: 17px;
    line-height: 30px;
  }

  .form-body__submit {
    order: -1;
    width: 220px;
  }
}

@media (min-width: $desktop-width) {
  .form-body__legend {
    flex-basis: 18.333%;
    text-align: center;
  }

  .form-body__list {
    flex-basis: 81.666%;
  }

  .form-body__checkboxgroup .form-body__item {
    flex-basis: 30%;
  }

  .form-body__customer-phone .form-body__legend,
  .form-body__customer-email .form-body__legend,
  .form-body__customer-addit-info .form-body__legend {
    flex-basis: 18.333%;
  }

  .form-body__customer-phone .form-body__input-text,
  .form-body__customer-email .form-body__input-text,
  .form-body__customer-addit-info .form-body__input-textarea {
    flex-basis: 81.666%;
  }

  .form-body__bottom-wrapper {
    padding-left: 21.5%;
  }
}
