.form-body {
  padding: 0 30px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow: hidden;
    padding-top: 20px;
  }
}

.form-body__radiogroup,
.form-body__checkboxgroup,
.form-body__customer-name,
.form-body__customer-phone,
.form-body__customer-email,
.form-body__customer-addit-info {
  @include remove-fieldset-borders;
}

.form-body__checkboxgroup .form-body__legend,
.form-body__customer-name .form-body__legend,
.form-body__customer-phone .form-body__legend,
.form-body__customer-email .form-body__legend,
.form-body__customer-addit-info .form-body__legend {
  margin-top: -8px;
}

.form-body__customer-email,
.form-body__customer-phone {
  position: relative;
}

.form-body__list {
  @include list-reset;
}

.form-body__legend {
  @include font-open-sans-bold($size: $h3-font-size, $color: $light-green, $lh: 16px);
  width: 65px;
  margin-bottom: 20px;
  background-color: #ffffff;
  text-transform: uppercase;
}

.form-body__item {
  @include font-open-sans-bold($size: $h3-font-size, $lh: 18px);
}

.form-body__radiogroup {
  padding: 0;
  margin-bottom: 52px;

  .form-body__legend {
    margin-top: -10px;
    margin-bottom: 17px;
  }


  .form-body__item {
    @include flex-row;
    position: relative;
    padding: 18px 41px 0 41px;

    &:first-child {
      margin-bottom: 6px;
    }
  }

  .form-body__radio-button {
    opacity: 0;
  }

  .form-body__radio-label {
    // width: 200px;
    transition: color 0.25s;
  }
}

// Оформление кастомных радиокнопок

.form-body__radio-label::after,
.form-body__radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
}

.form-body__radio-label::before {
  width: 40px;
  height: 40px;
  border: solid 2px #444444;
  top: 8px;
  transition: border-color 0.25s;
}

.form-body__radio-label::after {
  width: 15px;
  height: 15px;
  background-color: #62d1ba;
  transform: scale(0);
  transition: transform 0.25s;
  top: 20px;
  left: 13px;
}
/*
.form-body__radiogroup .form-body__item:nth-child(1) {
  margin-bottom: 5px;

  .form-body__radio-label {
    margin-top: -5px;
  }
}

.form-body__item:nth-child(2) {
  .form-body__radio-label::before {
    top: 11px;
  }

  .form-body__radio-label::after {
    top: 23px;
  }
}
*/
.form-body__radio-button:checked ~ .form-body__radio-label::before {
  // border-color: #c7c7c7;
  // background-color: blue;
  // border-color: $light-green;
}

.form-body__radio-button:checked ~ .form-body__radio-label {

}

.form-body__radio-button:checked ~ .form-body__radio-label {
  &::before {
    border-color: #c7c7c7;
  }

  &::after {
    transform: scale(1);
  }

  // &:hover {
  //   &::before {
  //     border-color: $light-green;
  //   }
  // }
}

.form-body__radio-button {
  // &:focus ~ .form-body__radio-label::before {
  //   border-color: $light-green;
  // }
}

.form-body__radio-label {
  // &:hover {
  //   &::before {
  //     border-color: $light-green;
  //   }
}

.form-body__label[for="radio-interior"] {
  min-width: 150px;
}

.form-body__checkboxgroup {
  margin-bottom: 46px;
  padding-bottom: 0;

  .form-body__legend {
    margin-bottom: 20px;
  }

  .form-body__item {
    @include flex-row;
    position: relative;
    padding: 16px 42px 1px 42px;
    // @include border(red);
    margin-bottom: 25px;
  }

  .form-body__item {
    // padding-left: 40px;
    // margin-bottom: 13px;
  }

  .form-body__checkbox {
    opacity: 0;

    &:focus ~ .form-body__checkbox-label::before {
      border-color: $light-green;
    }
  }
}

// Оформление кастомных чекбоксов



.form-body__checkbox-label {
  position: relative;
  transition: color 0.25s;

  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form-body__checkbox-label::after,
.form-body__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -63px;
}

.form-body__checkbox-label::before {
  width: 40px;
  height: 40px;
  border: solid 2px #444444;
  top: -13px;
  transition: border-color 0.25s;
}

.form-body__checkbox-label::after {
  width: 24px;
  height: 12px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg) scale(0);
  transition: transform 0.25s;
  top: 0;
  left: -54px;
}

.form-body__checkbox:checked ~ .form-body__checkbox-label::before {
  border-color: #c7c7c7;
}

.form-body__checkbox:checked ~ .form-body__checkbox-label::after {
  transform: rotate(135deg) scale(1);
}

.form-body__checkbox:checked ~ .form-body__checkbox-label {
  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form-body__input-text {
  @include font-open-sans($size: 17px);
  position: relative;
  width: 100%;
  border: none;
  padding: 13px 0;
  outline: none;
  box-shadow: 0 4px 0 -2px black;

  &:hover {
    box-shadow: 0 4px 0 -2px $light-green;
  }

  &:focus {
    box-shadow: 0 3px 0 -2px $light-green;
  }

  &:hover + .form-body__icon {
    fill: $light-green;
  }
}

.form-body__input-text::placeholder,
.form-body__input-textarea::placeholder {
  color: $light-black;
  opacity: 0.3;
}

.form-body__input-textarea {
  @include font-open-sans($size: 17px, $lh: 18px);
  width: 100%;
  height: 144px;
  padding: 15px;
  border: 2px solid $light-black;
  transition: border-color 0.25s;
  resize: none;
  outline: none;

  &:hover,
  &:active {
    border-color: $light-green;
  }
}

.form-body__customer-name {
  margin-bottom: 32px;

  .form-body__item {
    // @include flex-column;
    padding: 10px 0;
    margin-bottom: 3px;
  }
}

.form-body__customer-phone {
  margin-bottom: 40px;

  .form-body__legend {
    margin-bottom: 11px;
  }

  .form-body__input-text {
    padding: 11px 0;
    padding-right: 40px;
  }
}

.form-body__customer-email {
  margin-bottom: 41px;

  .form-body__legend {
    margin-bottom: 11px;
  }

  .form-body__input-text {
    padding: 11px 0;
    padding-right: 40px;
  }
}


.form-body__customer-phone .form-body__icon {
  position: absolute;
  top: 40%;
  right: 9px;
}

.form-body__customer-email .form-body__icon {
  position: absolute;
  top: 40%;
  right: 5px;
}

.form-body__customer-addit-info {
  margin-bottom: 5px;

  .form-body__legend {
    margin-bottom: 24px;
  }

  .form-body__input-textarea {
    margin-top: 0;
  }
}

.form-body__note {
  @include font-open-sans($size: 14px, $lh: 16px);
}

.form-body__submit {
  margin: 28px 0 54px 0;
}

@media (min-width: $tablet-width) {
  .form-body {
    padding: 0;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    // background-color: #999999;
  }

  .form-body__radiogroup,
  .form-body__checkboxgroup,
  .form-body__customer-name {
    @include flex-row;
    // justify-content: space-between;
    align-items: flex-start;
    padding: 30px 50px;
    // margin-bottom: 20px;
    border: none;
  }

  .form-body__customer-phone,
  .form-body__customer-email,
  .form-body__customer-addit-info {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 40px 50px;
    border: none;
  }

  .form-body__legend {
    margin: 0;
    margin-top: 20px;
    flex-basis: 25%;
    background-color: transparent;
  }

  .form-body__list {
    // display: block;
    flex-basis: 75%;
  }

  .form-body__item {
    padding: 15px 0;
    margin-bottom: 25px;
  }

  .form-body__label {
    font-size: 19px;
    line-height: 18px;
  }

  .form-body__input-text {
    padding: 12px 17px;
    font-size: 19px;
    line-height: 18px;
    background-color: transparent;
  }

  .form-body__radiogroup {
    padding-bottom: 0;
    margin-bottom: 42px;
    // border-bottom: 1px solid red;

    .form-body__legend {
      margin-top: 35px;
    }

    .form-body__list {
      // @include border(blue);
      margin-bottom: 0;
    }

    .form-body__item {
      &:first-child {
        margin-bottom: 0;
        padding: 32px 59px;
      }
      &:nth-child(2) {
        padding: 26px 59px;
        margin-bottom: 0;
      }
    }
  }

  .form-body__checkboxgroup {
    background-color: $light-gray;
    padding: 52px 50px 23px 50px;
    margin-bottom: 30px;

    .form-body__legend {
      margin-top: 17px;
    }

    .form-body__list {
      @include flex-row;
      flex-wrap: wrap;
      // max-height: 220px;
      // @include border(red);
    }

    .form-body__item {
      flex-basis: 50%;
      // @include border(gold);
      padding: 13px 9px 12px 60px;
      margin-bottom: 33px;

      &:nth-child(2n) {
        padding-left: 71px;
      }
    }

    .form-body__checkbox {
      // opacity: 1;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-body__checkboxgroup {
      // flex-wrap: wrap;
      // height: 250px;
      // @include border(red);

      .form-body__list {
        // flex-wrap: wrap;
        // flex-basis: 80%;
        // flex: 1 1 auto;
        // max-height: 240px;
        // margin-left: 225px;
        // display: table;
        // @include border(gold);
      }

      .form-body__item {
        // display: table-cell;
        // max-height: 20px;
        // @include border(blue);
        // align-self: stretch;
      }
    }
  }
  // .form-body__radiogroup,
  // .form-body__checkboxgroup {
  //   overflow-x: hidden;
  //
  //   .form-body__list {
  //     transform: translateX(55px);
  //   }
  // }

  // Меняю размеры кастомных радиокнопок

  .form-body__radio-label {
    position: relative;
    transition: color 0.25s;

    &:hover {
      &::before {
        border-color: $light-green;
      }
    }
  }

  .form-body__radio-label::after,
  .form-body__radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;
    border-radius: 50%;
  }

  .form-body__radio-label::before {
    width: 52px;
    height: 52px;
    border: solid 2px #5a5a5a;
    top: -15px;
    transition: border-color 0.25s;
  }

  .form-body__radio-label::after {
    width: 20px;
    height: 20px;
    background-color: #62d1ba;
    transform: scale(0);
    transition: transform 0.25s;
    top: 1px;
    left: -64px;
  }

  // Меняю размеры кастомных чекбоксов

  .form-body__checkbox-label::after,
  .form-body__checkbox-label::before {
    top: 0;
    left: -80px;
  }

  .form-body__checkbox-label::before {
    width: 52px;
    height: 52px;
    top: -15px;
  }

  .form-body__checkbox-label::after {
    width: 30px;
    height: 18px;
    top: -3px;
    left: -69px;
  }


  .form-body__customer-name {
    // @include border(red);
    padding-top: 6px;
    margin-bottom: 5px;

    .form-body__legend {
      margin-top: 30px;
    }

    .form-body__item {
      @include flex-row;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 5px;
    }

    .form-body__customer-name-label {
      margin-right: 20px;
    }

    .form-body__input-text {
      padding: 13px 22px;
    }
  }

  .form-body__customer-phone,
  .form-body__customer-email {
    background-color: $light-gray;
    // padding-bottom: 0;
    // padding-top: 52px;
  }

  .form-body__customer-phone {
    padding-top: 52px;
    padding-bottom: 28px;

    .form-body__input-text {
    // border-bottom: 2px solid black;
      // outline: 1px solid transparent;
      padding-left: 19px;
      padding-right: 40px;

      &:hover {
        border-bottom-color: $light-green;
      }

      &:focus {
        border-bottom-color: $light-green;
        border-bottom-width: 2px;
      }
    }
  }

  .form-body__customer-email {
    // @include border(red);
    padding-top: 0;
    padding-bottom: 53px;

    .form-body__input-text {
      padding-left: 19px;
      padding-right: 40px;
    }
  }

  .form-body__customer-phone .form-body__icon {
    top: 49%;
    right: 75px;
  }

  .form-body__customer-email .form-body__icon {
    top: 9%;
    right: 71px;
  }

  .form-body__customer-addit-info {
    padding-top: 50px;
    padding-bottom: 23px;
  }

  .form-body__customer-phone .form-body__legend,
  .form-body__customer-email .form-body__legend,
  .form-body__customer-addit-info .form-body__legend {
    flex-basis: 25%;
  }

  .form-body__customer-phone .form-body__input-text,
  .form-body__customer-email .form-body__input-text,
  .form-body__customer-addit-info .form-body__input-textarea {
    flex-basis: 75%;
    font-size: 19px;
  }

  .form-body__bottom-wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 50px;
    margin-bottom: 50px;
  }

  .form-body__note {
    font-size: 17px;
    line-height: 30px;
  }

  .form-body__submit {
    order: -1;
    margin-bottom: 0;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {

  .form-body__customer-name,
  .form-body__customer-phone,
  .form-body__customer-email,
  .form-body__customer-addit-info {
    justify-content: flex-start;
  }

  .form-body__radiogroup .form-body__legend,
  .form-body__checkboxgroup .form-body__legend,
  .form-body__customer-name .form-body__legend,
  .form-body__customer-phone .form-body__legend,
  .form-body__customer-email .form-body__legend,
  .form-body__customer-addit-info .form-body__legend {
    flex-basis: 15%;
    text-align: left;
    padding-left: 61px;
  }

  .form-body__customer-name .form-body__list,
  .form-body__customer-phone .form-body__input-text,
  .form-body__customer-email .form-body__input-text,
  .form-body__customer-addit-info .form-body__input-textarea {
    flex-basis: 68.4%;
  }

  // .form-body__legend {
  //   flex-basis: 15.5%;
  //   text-align: center;
  // }

  // .form-body__list {
  //   flex-basis: 84.5%;
  // }

  .form-body__radiogroup {
    padding-top: 10px;

    .form-body__item:first-child {
      padding-left: 75px;
    }

    .form-body__item:nth-child(2) {
      padding-left: 75px;
    }
  }

  .form-body__checkboxgroup {
    .form-body__list {
      flex-basis: 85%;
    }

    .form-body__item {
      flex-basis: 29.5%;

      &:nth-child(2n),
      &:nth-child(2n+1) {
        padding-left: 77px;
      }

      &:nth-child(2) {
        flex-basis: 29.6%;
      }

      &:nth-child(5) {
        flex-basis: 29.6%;
      }
    }
  }

  .form-body__customer-name {
    .form-body__item {
      padding-left: 19px;
    }
  }

  .form-body__customer-phone {
    .form-body__input-text {
      margin-left: 15px;
      flex-basis: 67%;
    }

    .form-body__icon {
      right: 233px;
    }
  }

  .form-body__customer-email {
    .form-body__input-text {
      margin-left: 15px;
      flex-basis: 67%;
    }

    .form-body__icon {
      right: 230px;
    }
  }

  .form-body__customer-addit-info {
    padding-bottom: 19px;

    .form-body__input-textarea {
      margin-left: 16px;
      flex-basis: 66.8%;
    }
  }

  .form-body__bottom-wrapper {
    // justify-content: flex-end;
    align-items: baseline;
    padding: 0;
    padding-left: 225px;
    width: 925px;
    // @include border(red);
  }
}
