.form-body {
  padding: 0 30px;
}

.form__radiogroup,
.form__checkboxgroup,
.form__customer-name {
  @include remove-fieldset-borders;
  margin: 0;
  padding: 30px 0;
  // padding-top: 20px;
}

.form__customer-phone,
.form__customer-email,
.form__customer-addit-info {
  @include remove-fieldset-borders;
  @include flex-column;
  position: relative;
  padding: 10px 0;
  margin-bottom: 40px;
  // padding: 30px 0;
}

.form__customer-addit-info {
  margin-bottom: 0;
}

.form__legend {
  @include font-open-sans-bold($size: $h3-font-size, $color: $light-green, $lh: 16px);
  width: 65px;
  // padding-right: 30px;
  margin-top: -40px;
  margin-bottom: 20px;
  background-color: #ffffff;
  // @include border(red);
  text-transform: uppercase;
}

.form__customer-phone .form__legend,
.form__customer-email .form__legend,
.form__customer-addit-info .form__legend {
  margin-top: -22px;
  margin-bottom: 0;
}

.form__list {
  padding: 0 0;
}

.form__item {
  @include font-open-sans-bold($size: $h3-font-size, $lh: 17px);
  display: flex;
  // margin-bottom: 10px;
  padding: 15px 60px;
}

.form__customer-name {
  .form__item {
    @include flex-column;
    padding: 15px 0;
  }
}

// Оформление кастомных радиокнопок

.form__radio-button {
  display: none;
}

.form__radio-label {
  position: relative;
  transition: color 0.25s;

  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form__radio-label::after,
.form__radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -55px;
  border-radius: 50%;
}

.form__radio-label::before {
  width: 41px;
  height: 41px;
  border: solid 1px #5a5a5a;
  top: -5px;
  transition: border-color 0.25s;
}

.form__radio-label::after {
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  transform: scale(0);
  transition: transform 0.25s;
  top: 7px;
  left: -42px;
}

.form__radio-button:checked ~ .form__radio-label::before {
  border-color: #c7c7c7;
}

.form__radio-button:checked ~ .form__radio-label::after {
  transform: scale(1.1);
}

.form__radio-button:checked ~ .form__radio-label {
  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

// Оформление кастомных чекбоксов

.form__checkbox {
  display: none;
}

.form__checkbox-label {
  position: relative;
  transition: color 0.25s;

  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form__checkbox-label::after,
.form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -55px;
}

.form__checkbox-label::before {
  width: 41px;
  height: 41px;
  border: solid 1px #5a5a5a;
  top: -8px;
  transition: border-color 0.25s;
}

.form__checkbox-label::after {
  width: 24px;
  height: 18px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg) scale(0);
  transition: transform 0.25s;
  top: 0;
  left: -44px;
}

.form__checkbox:checked ~ .form__checkbox-label::before {
  border-color: #c7c7c7;
}

.form__checkbox:checked ~ .form__checkbox-label::after {
  transform: rotate(135deg) scale(1);
}

.form__checkbox:checked ~ .form__checkbox-label {
  &:hover {
    &::before {
      border-color: $light-green;
    }
  }
}

.form__input-text {
  @include font-open-sans($size: 15px);
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 12px 0;
  outline: none;
  transition: border-bottom-color 0.25s;
  // @include border(blue);
  &:hover {
    border-bottom-color: $light-green;
  }

  &:focus {
    border-bottom-color: $light-green;
    border-bottom-width: 1px;
  }

  &:hover + .form__icon {
    fill: $light-green;
  }
}

.form__customer-email,
.form__customer-phone {
  position: relative;
}

.form__customer-email .form__icon,
.form__customer-phone .form__icon {
  position: absolute;
  top: 35%;
  right: 0;
}

.form__input-text::placeholder,
.form__input-textarea::placeholder {
  color: $light-black;
  opacity: 0.3;
}

.form__input-textarea {
  @include font-open-sans($size: 15px, $lh: 18px);
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 2px solid $light-black;
  transition: border-color 0.25s;
  resize: none;
  outline: none;

  &:hover,
  &:active {
    border-color: $light-green;
  }
}

.form__note {
  @include font-open-sans($size: 14px, $lh: 16px);
  font: 12px $regular-font;
}

.form__submit {
  margin: 20px 0 40px 0;
}

@media (min-width: $tablet-width) {
  .form-body {
    padding: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__radiogroup,
  .form__checkboxgroup,
  .form__customer-name {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    // @include border(red);
    padding: 30px 50px;
    margin-bottom: 20px;
  }

  .form__customer-phone,
  .form__customer-email,
  .form__customer-addit-info {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 40px 50px;
    border: none;
  }

  .form__legend {
    // @include border(blue);
    margin: 0;
    margin-top: 20px;
    flex-basis: 27%;
    background-color: transparent;
  }

  .form__list {
    flex-basis: 73%;
    // @include border(green);
  }

  .form__item {
    padding: 15px 0;
    margin-bottom: 25px;
    // @include border(red);
  }

  .form__label {
    font-size: 19px;
    line-height: 18px;
  }

  .form__checkboxgroup {
    background-color: $light-gray;
  }

  .form__checkboxgroup .form__list {
    flex-wrap: wrap;
    max-height: 220px;
  }

  .form__radiogroup,
  .form__checkboxgroup {
    .form__list {
      transform: translateX(55px);
    }
  }

  // Меняю размеры касотманых элементов

  .form__radio-label {
    position: relative;
    transition: color 0.25s;

    &:hover {
      &::before {
        border-color: $light-green;
      }
    }
  }

  .form__radio-label::after,
  .form__radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -64px;
    border-radius: 50%;
  }

  .form__radio-label::before {
    width: 48px;
    height: 48px;
    border: solid 1px #5a5a5a;
    top: -16px;
    transition: border-color 0.25s;
  }

  .form__radio-label::after {
    width: 18px;
    height: 18px;
    background-color: #62d1ba;
    transform: scale(0);
    transition: transform 0.25s;
    top: 0;
    left: -48px;
  }

  // Меняю размер кастомных чекбоксов

  .form__checkbox-label::after,
  .form__checkbox-label::before {
    top: 0;
    left: -55px;
  }

  .form__checkbox-label::before {
    width: 50px;
    height: 50px;
    top: -15px;
  }

  .form__checkbox-label::after {
    width: 30px;
    height: 20px;
    top: -3px;
    left: -44px;
  }


  .form__customer-name .form__item {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
  }

  .form__customer-name-label {
    margin-right: 20px;
  }

  .form__input-text {
    padding: 12px 17px;
    background-color: transparent;
    line-height: 18px;
  }

  .form__customer-email .form__icon {
    top: 25%;
    right: 50px;
  }

  .form__customer-phone .form__icon {
    top: 60%;
    right: 50px;
  }

  .form__customer-phone,
  .form__customer-email {
    background-color: $light-gray;
    padding-bottom: 0;
  }

  .form__customer-email {
    padding-top: 20px;
    padding-bottom: 60px;
    // margin-bottom: 20px;
  }

  .form__customer-addit-info {
    padding-bottom: 20px;
  }

  .form__customer-phone .form__legend,
  .form__customer-email .form__legend,
  .form__customer-addit-info .form__legend {
    flex-basis: 27%;
  }

  .form__customer-phone .form__input-text,
  .form__customer-email .form__input-text,
  .form__customer-addit-info .form__input-textarea {
    flex-basis: 73%;
    font-size: 19px;
  }

  .form__bottom-wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 50px;
  }

  .form__note {
    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    order: -1;
    width: 220px;
  }
}

@media (min-width: $desktop-width) {
  .form__legend {
    // @include border(red);
    flex-basis: 18.333%;
    text-align: center;
  }

  .form__list {
    flex-basis: 81.666%;
  }

  .form__customer-phone .form__legend,
  .form__customer-email .form__legend,
  .form__customer-addit-info .form__legend {
    flex-basis: 18.333%;
  }

  .form__customer-phone .form__input-text,
  .form__customer-email .form__input-text,
  .form__customer-addit-info .form__input-textarea {
    flex-basis: 81.666%;
  }

  .form__bottom-wrapper {
    padding-left: 21.5%;
    // @include border(red);
  }
}
