.form-header {
  @include flex-column;
}

.form__title {
  @include heading;
  align-self: center;
  width: 100%;
  margin-top: -80px;
  padding: 120px 0 80px 0;
  background-color: $light-gray;
  text-align: center;
  z-index: -2;
}

.form__header-text {
  @include font-open-sans($size: 13px, $color: $light-black, $lh: 24px);
  align-self: center;
  margin: 0;
  padding: 25px 30px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: $tablet-header-font;
    line-height: 50px;
  }

  .form__header-text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    padding: 150px 0 100px;
    font-size: $desktop-header-font;
    line-height: 57px;
  }

  .form__header-text {
    padding: 100px 225px 50px 225px;
  }
}
