.form-header {
  @include flex-column;
}

.form__title {
  @include heading;
  align-self: center;
  width: 100%;
  margin-top: -80px;
  padding: 120px 0 80px 0;
  background-color: $light-gray;
  text-align: center;
  z-index: -2;
}

.form__header-text {
  align-self: center;
  margin: 0;
  padding: 50px 50px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: $tablet-header-font;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    font-size: $desktop-header-font;
    margin-top: 0;
    padding: 150px 0 100px;
  }

  .form__header-text {
    padding: 100px 225px 50px 225px;
  }
}
