.catalog-items {
  padding: 20px 0;
  overflow-x: hidden;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow: hidden;
  }
}

.catalog__list {
  padding: 0 30px;
}

.catalog__item {
  border: 1px solid $light-gray;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.08);

    .catalog__item-title {
      opacity: 0.6;
    }

    .catalog__item-icon {
      fill: $light-green;
    }
  }

  &:active {
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);

    .catalog__item-title {
      opacity: 0.3;
    }

    .catalog__item-icon {
      fill: $light-green;
      opacity: 0.2;
    }
  }
}

.catalog__item-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.catalog__item-desc-wrapper {
  padding: 10px 20px;
  border-bottom: 1px solid $light-gray;
}

.catalog__item-desc-link {
  text-decoration: none;
  color: #000000;
}

.catalog__item-title {
  @include heading($h3-font-size, $lh: 24px);
}

.catalog__item-desc {
  @include font-open-sans($size: 13px, $color: $light-black, $lh: 30px);
}

.catalog__item-price {
  @include heading($h3-font-size, $lh: 30px);
  padding: 20px 0;
}

.catalog__item-price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.catalog__item-icon {
  @include fill-and-align($color: #d3d2d2);
}

.catalog__item-icon-link {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .catalog-items {
    padding: 0 50px;
    margin-bottom: 50px;
  }

  .catalog__item {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 336px;
    height: 335px;
    padding-right: 30px;
  }

  .catalog__item-title {
    font-size: 20px;
  }

  .catalog__item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .catalog__item-desc-wrapper {
    display: inline-block;
    width: 40%;
    min-width: 0;
    border: none;
    margin-left: 20px;
    padding: 30px 0;
  }

  .catalog__item-desc {
    font-size: 15px;
  }

  .catalog__item-price-wrapper {
    align-self: stretch;
    min-width: 0;
    margin-left: 20px;
    padding: 0;
    border-top: 1px solid $light-gray;
  }

  .catalog__item-price {
    align-self: center;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-items {
    padding: 0 50px;
    margin-bottom: 40px;
  }

  .catalog__list {
    @include flex-row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
  }

  .catalog__item {
    display: block;
    width: 30%;
    height: auto;
    padding: 0;
  }

  .catalog__item-image {
    width: 100%;
    height: auto;
  }

  .catalog__item-desc-wrapper {
    display: block;
    width: 100%;
    height: 150px;
    padding: 25px 30px;
    margin-left: 0;
  }

  .catalog__item-price-wrapper {
    width: auto;
    margin: 0 30px 0 30px;
    border-top: 1px solid $light-gray;
  }
}
