.catalog-video {
  @include flex-column;
  justify-content: center;
  border: 1px solid $light-gray;
  overflow: hidden;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    min-height: 400px;
  }
}

.catalog-video__title-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
}

.catalog-video__camera-icon {
  @include fill-and-align($color: $light-green);
}

.catalog-video__title {
  @include heading($h3-font-size, $lh: 24px);
  width: 50%;
  text-align: left;
  word-wrap: wrap;
}

.catalog-video__frame {
  flex-basis: 100%;
  position: relative;
  width: 100%;
  margin: auto;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: 260px;
    min-height: 150px;
    height: 150px;
  }
}

.catalog-video__frame-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.catalog-video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  flex-shrink: 0;
  z-index: 1;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-video__desc {
  @include font-open-sans($size: 13px, $color: $light-black, $lh: 24px);
  align-self: center;
  padding: 20px 30px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: 100%;
  }
}

.catalog__order-button {
  display: inline-block;
  align-self: center;
  width: 100%;
  margin: 20px 0;
  vertical-align: middle;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog-video {
    @include flex-column;
    padding: 0 50px;
    margin-bottom: 50px;
    border: none;
  }

  .catalog-video__frame {
    order: 1;
    min-width: 540px;
    overflow: hidden;
    height: auto;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      min-height: 455px;
      width: 668px;
    }
  }

  .catalog-video__title-wrapper {
    @include flex-row;
    justify-content: flex-start;
    order: 2;
    padding: 30px 55px 10px 55px;
    margin-top: -6px;
    border: 1px solid $light-gray;
    border-bottom: none;
  }

  .catalog-video__desc {
    order: 3;
    padding: 20px 55px;
    font-size: 15px;
    line-height: 30px;
    border: 1px solid $light-gray;
    border-top: none;
  }

  .catalog-video__title {
    font-size: 20px;
    padding: 0 30px;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .catalog-video {
    @include border($light-gray);
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1240px;
    height: 445px;
    padding: 0;
    margin: 0 50px 75px 50px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: 457px;
    }
  }

  .catalog-video__frame {
    margin: 0;
    width: 682px;
    height: 455px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      min-height: 455px;
      width: 682px;
    }
  }

  .catalog-video__title-wrapper {
    @include flex-column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 20px 55px 0 55px;
  }

  .catalog-video__title {
    margin-top: 20px;
    font-size: 20px;
    padding-left: 0;
    width: 50%;
    flex-grow: 0;
  }

  .catalog-video__camera-icon {
    align-self: flex-start;
  }

  .catalog-video__desc {
    align-self: flex-start;
    width: 30%;
    margin-top: 0;
    padding: 0 55px;
    border: none;
  }

  .catalog__order-button {
    margin-bottom: 0;
    width: 250px;
  }
}
