.catalog-video {
  @include flex-column;
  justify-content: center;
  border: 1px solid $light-gray;
}

.catalog-video__title-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
}

.catalog-video__camera-icon {
  @include fill-and-align;
}

.catalog-video__title {
  @include heading($h3-font-size, $lh: 24px);
  width: 50%;
  text-align: left;
  word-wrap: wrap;
}

.catalog-video__frame {
  flex-basis: 100%;
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  // height: 150px;
  margin: auto;
  // background: url("../img/video-mobile@1x.jpg") no-repeat;
  // background-position: center;
  // background-size: 100% auto;
  // @include border(gold);
}

.catalog-video__frame-image {
  height: auto;
  width: 100%;
  object-fit: contain;
  // opacity: 0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.catalog-video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  flex-shrink: 0;
  z-index: 1;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-video__desc {
  @include font-open-sans($size: 13px, $color: $light-black, $lh: 24px);
  align-self: center;
  padding: 20px 30px;
}

.catalog__order-button {
  display: inline-block;
  align-self: center;
  width: 100%;
  margin: 20px 0;
  vertical-align: middle;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog-video {
    @include flex-column;
    @include border($light-gray);
    padding: 0 50px;
    margin-bottom: 75px;
  }

  .catalog-video__title {
    font-size: 20px;
  }

  .catalog-video__frame {
    order: 1;
    min-width: 540px;
    overflow: hidden;
    height: auto;
  }

  .catalog-video__title-wrapper {
    order: 2;
    padding: 30px 0;
  }

  .catalog-video__desc {
    order: 3;
    padding: 20px 55px;
    font-size: 15px;
    line-height: 30px;
    border-bottom: 1px solid $light-gray;
  }
}

@media (min-width: $desktop-width) {
  .catalog-video {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 445px;
    padding: 0;
    margin: 0 100px 75px 100px;
    // @include border(blue);
  }

  .catalog-video__frame {
    // align-self: flex-end;
    // display: flex;
    margin: 0;
    width: 668px;
    height: 455px;
    // @include border(red);
    // flex-basis: 100%;
  }

  .catalog-video__frame-image {
    // height: 455px;
    // width: 682px;
    // object-fit: none;
    // @include border(red);
    // vertical-align: top;
    // display: flex;
    // justify-content: flex-start;
    // margin-top: -100px;
  }

  .catalog-video__title-wrapper {
    @include flex-column;
    justify-content: flex-start;
    // @include border(gold);
    flex-basis: 40%;
    align-self: flex-start;
    padding: 40px 55px;
  }

  .catalog-video__title {
    margin-top: 20px;
    font-size: 20px;
  }

  .catalog-video__camera-icon {
    align-self: flex-start;
  }

  .catalog-video__desc {
    align-self: flex-start;
    width: 30%;
    margin-top: 0;
    padding: 0 55px;
    border: none;
    // @include border(tomato);
  }

  .catalog__order-button {
    margin-bottom: 0;
  }
}
