body {
  @include reset-mp;
  @include font-open-sans($size: 16px);
}

.clearfix {
  &::after {
    @include clearfix;
  }
}

.main-wrapper {
  width: $wrapper-width;
  margin: auto;
}

.main-title {
  @include heading;
}

.site-list {
  list-style: none;
  @include reset-mp;
  @include flex-column;
}

.button {
  @include font-open-sans-bold($size: $button-font-size, $color: $light-black);
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid $light-black;
  text-transform: uppercase;
  cursor: pointer;
}

/*
.border-blue {
  border: 1px solid blue;
}

.border-red {
  border: 1px solid red;
}
*/
