$h1-font-size: 27px;
$h2-font-size: 25px;
$button-font-size: 17px;
$h3-font-size: 17px;
$text-font-size: 15px;

$tablet-header-font: 43px;
$desktop-header-font: 53px;

$tablet-width: 768px;
$desktop-width: 1150px;

$wrapper-width: 81.25%;

$regular-font: "Open Sans";
$bold-font: "Open Sans Bold";

$light-green: #63d1bb;
$dark-green: #56c3b2;
$light-black: #444444;
$light-gray: #f1f1f1;
$border-gray: #ececec;
$border-color: #ececec;
$hover-color: #46c1ae;
