
.about {
  // @include wrapper;
  padding: 30px 0;
}

.about__title {
  @include heading($h2-font-size);
  margin-bottom: 20px;
}

.about__list {
  @include list-reset;
  @include flex-column;
}

.about__item {
  @include flex-column;
  justify-content: center;
  margin-bottom: 10px;
}

.about__item-image {
  @include fill-and-align($align: flex-start);
  margin-bottom: 10px;
}

.about__item-caption {
  font: $h3-font-size $bold-font;
}
