
.about {
  // @include wrapper;
  padding: 30px 30px;
}

.about__title {
  @include heading($h2-font-size);
  margin-bottom: 20px;
}

.about__list {
  @include list-reset;
  @include flex-column;
}

.about__item {
  @include flex-column;
  justify-content: center;
  margin-bottom: 10px;
}

.about__item-image {
  @include fill-and-align($align: flex-start);
  margin-bottom: 10px;
}

.about__item-caption {
  font: $h3-font-size $bold-font;
}

@media (min-width: $tablet-width) {
  .about {
    // max-height: 600px;
    min-height: 500px;
    padding: 60px 50px;
    // @include border(gold);
  }

  .about__title {
    @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
  }

  .about__list {
    @include flex-column;
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-items: baseline;
    // @include border(red);
    max-height: 500px;
  }

  .about__item {
    padding: 20px 0;
    width: 40%;
    height: 120px;
    margin-bottom: 25px;
    // margin-bottom: 50px;
    // @include border(blue);
    // align-self: center;
    // flex-basis: 1;
  }

  .about__item-caption {
    @include heading(20px);
  }

  .about__item-image {
    flex-shrink: 0;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 60px 270px;
  }

  .about__title {
    font-size: $desktop-header-font;
  }
}
