.contact {
  @include flex-column;
  position: relative;
  padding: 60px 0 40px;
  // overflow-x: hidden;
}

.contact__wrapper {
  padding: 0 30px;
}

.contact__title {
  @include heading;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.contact__title-icon {
  display: none;
}

.contact__table {
  width: 100%;
  margin-bottom: 23px;
  border-spacing: 0;
  font-size: $text-font-size;
  line-height: 30px;
  color: $light-black;
}

.contact__table td {
  width: 100px;
  padding: 15px 0;
  vertical-align: top;
}

.contact__link-mail {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $light-green;
  }

  &:active {
    color: $light-green;
    opacity: 0.3;
  }
}

.contact__map-image {
  width: 100%;
  height: auto;
}

.contact__map-wrapper {
  position: relative;
  display: block;
  height: 457px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 38px;

  .contact__map-pin-icon {
    position: absolute;
    top: 146px;
    left: 135px;
    display: block;
    height: 101px;
    width: 66px;
    background: url("../img/icon-map-pin.svg") no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.contact__button {
  align-self: center;
  display: inline-block;
  width: 260px;
  // margin-top: 35px;
  margin-left: 13px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .contact {
    padding: 84px 0 58px 0;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-position: top center;
    // @include border(red);
  }

  .contact__wrapper {
    padding: 0 50px;
  }

  .contact__title {
    @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
    margin-bottom: 32px;
    margin-left: -5px;
  }

  .contact__title-icon {
    display: block;
    position: absolute;
    top: 68px;
    right: 52px;
  }

  .contact__table {
    font-size: 17px;
    margin-bottom: 42px;
  }

  .contact__table tbody {
    @include flex-row;
  }

  .contact__table tr {
    width: 50%;
  }

  .contact__table td:last-child {
    width: 77%;
  }

  .contact__map-wrapper {
    height: 457px;
    width: 768px;
    margin-bottom: 54px;

    .contact__map-pin-icon {
      left: 364px;
    }
  }

  .contact__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
    max-width: 1440px;
    padding: 75px 50px 80px 225px;
    height: 625px;
    margin: 0 auto;
    margin-bottom: 22px;
  }

  .contact__wrapper {
    order: 1;
    align-self: flex-start;
    width: 40%;
    padding: 0;
  }

  .contact__title {
    margin-top: 80px;
    margin-bottom: 35px;
    font-size: $desktop-header-font;
    line-height: 57px;
  }

  .contact__title-icon {
    top: 148px;
    left: 114px;
  }

  .contact__table {
    margin-bottom: 30px;
  }

  .contact__table tbody {
    display: block;
    width: 90%;
  }

  .contact__table td:last-child {
    width: 80%;
    padding-left: 15px;
  }

  .contact__button {
    order: 2;
    align-self: flex-start;
    margin-top: 33px;
  }

  .contact__map-wrapper {
    order: 3;
    align-self: flex-end;
    width: 525px;
    height: 457px;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;

    .contact__map-pin-icon {
      top: 150px;
      left: 242px;
    }
  }

  .contact__map-image {
    width: auto;
  }
}
