.contact {
  @include flex-column;
  position: relative;
  padding: 60px 0;
}

.contact-wrapper {
  padding: 0 30px;
}

.contact__title {
  @include heading;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.contact__title-icon {
  display: none;
}

.contact__table {
  width: 100%;
  border-spacing: 0;
  font-size: $text-font-size;
  line-height: 30px;
  color: $light-black;
  margin-bottom: 30px;
  // @include border(red);
}

.contact__table td {
  padding: 15px 0;
  vertical-align: top;
  width: 100px;
}

.contact__table td:last-child {
  // @include border(blue);
}

.contact__link-mail {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $light-green;
  }

  &:active {
    color: $light-green;
    opacity: 0.3;
  }
}

.contact__map-image {
  // margin: auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.contact__button {
  width: $wrapper-width;
  align-self: center;
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .contact {
    padding: 80px 0;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-position: top center;
    // background-color: #999999;
  }

  .contact-wrapper {
    padding: 0 50px;
  }

  .contact__title {
    @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
    margin-bottom: 30px;
  }

  .contact__title-icon {
    display: block;
    position: absolute;
    top: 70px;
    right: 50px;
  }

  .contact__table {
    font-size: 17px;
  }

  .contact__table tbody {
    @include flex-row;
  }

  .contact__table tr {
    width: 50%;
  }

  .contact__table td:last-child {
    width: 70%;
  }

  .contact__button {
    width: 235px;
    margin-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: stretch;
    align-items: flex-start;
    padding: 75px 100px 80px 270px;
    height: 620px;
    margin: 0 auto;
    max-width: 1440px;
    // @include border(tomato);
  }

  .contact-wrapper {
    width: 40%;
    order: 1;
    padding: 0;
    align-self: flex-start;
    // @include border(gold);
  }

  .contact__title {
    font-size: $desktop-header-font;
    line-height: 57px;
    margin-top: 60px;
  }

  .contact__title-icon {
    top: 130px;
    left: 160px;
  }

  .contact__table tbody {
    display: block;
    width: 90%;
  }

  .contact__table td:last-child {
    width: 80%;
  }

  .contact__button {
    order: 2;
    align-self: flex-start;
  }

  .contact picture {
    order: 3;
    align-self: flex-end;
  }

  .contact__map-image {
    width: auto;
    // @include border(lightblue);
  }
}
