.featured {
  padding: 30px 30px;
}

.featured__title {
  @include heading($h2-font-size);
  margin-bottom: 8px;
}

.featured__subtitle {
  @include font-open-sans-bold($size: $h3-font-size, $color: $light-green);
  margin: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
}

// .featured__order {
//   display: flex;
//   flex-direction: column;
//   color: $light-black;
// }

.featured__desc {
  @include font-open-sans($size: $text-font-size, $color: $light-black, $lh: 24px);
}

.featured__table {
  @include font-open-sans($size: $text-font-size, $color: $light-black, $lh: 20px);
  margin-bottom: 28px;
  border-spacing: 0;
}

.featured__table td {
  padding: 15px;
  border-bottom: 1px solid #ececec;
}

.featured__product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.featured__product-image--mobile {
  display: block;
}

.featured__product-image--tablet {
  display: none;
}

.featured__product-image--desktop {
  display: none;
}

.featured__price {
  @include font-open-sans-bold($size: $h3-font-size, $color: $light-black);
  margin: auto;
  padding: 30px;
}

@media (min-width: $tablet-width) {
  .featured {
    @include flex-column;
    // display: block;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 620px;
    padding: 60px 50px;
    // padding-top: 35px;
    // @include border(black);
  }

  .featured__title {
    // display: inline-block;
    // float: left;
    // @include border(gold);
    @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
    width: 50%;
    order: 1;
    padding: 0;
    margin: 0;
  }

  .featured__subtitle {
    // display: inline-block;
    // float: right;
    flex-basis: 120px;
    flex-grow: 0;
    order: 6;
    // position: absolute;
    // right: 50px;
    // top: 60px;
    width: 100px;
    align-self: flex-end;
    text-align: center;
    // @include border(tomato);
  }

  .featured__desc {
    // @include border(green);
    order: 2;
    // align-self: flex-end;
    width: 40%;
    font-size: 17px;
    // margin-top: 79px;
    // padding-right: 55%;
  }

  .featured__table {
    order: 3;
    width: 40%;
    margin: 0;
    margin-right: 30px;
  }

  .featured__product-image {
    order: 7;
    flex-basis: 0;
    flex-grow: 5;
    align-self: flex-end;
    // max-width: 50%;
    width: 260px;
    height: 344px;
    object-fit: none;
    // margin: 0;
    // position: absolute;
    // top: 100%;
    // right: 0;
    // width: 333px;
    // height: 404px;
    // @include border(red);
    // transform: translateY(-50%);
  }

  .featured__product-image--mobile {
    display: none;
  }

  .featured__product-image--tablet {
    display: block;
  }

  .featured__price {
    @include reset-mp;
    order: 4;
    height: auto;
    width: 40%;
    font-size: 20px;
    text-align: center;
  }

  .featured__order-button {
    order: 5;
    width: 40%;
    align-self: flex-start;
    // border: 1px solid red;
    // vertical-align: bottom;
    // transform: translateY(-44px);
  }
}
