.feedback {
  padding: 25px 29px;
}

.feedback__title {
  @include heading($h2-font-size);
}

.feedback__item {
  margin: 0;
  margin-bottom: 5px;
  padding: 25px 0;
}

.feedback__text {
  @include font-open-sans($size: $text-font-size, $color: $light-black, $lh: 30px);
  @include reset-mp;
  margin-bottom: 26px;
}

.feedback__author-name {
  @include heading($h3-font-size, $lh: 24px);
  margin-top: 0;
  margin-bottom: 3px;
}

.feedback__author-account {
  @include font-open-sans($size: $h3-font-size, $color: $light-black, $lh: 30px);
  @include reset-mp;
}

.feedback__nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.feedback__nav-button {
  width: 50%;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;

  &:hover {
    background-color: white;
    opacity: 0.6;
  }

  &:active {
    background-color: white;
    opacity: 0.3;
  }
}

.feedback__nav-button--left {
  border-right: 0;
  background-image: url("../img/icon-left-arrow.svg");
  background-position: center;
}

.feedback__nav-button--right {
  border-right: 0;
  background-image: url("../img/icon-right-arrow.svg");
}

.feedback__button {
  align-self: center;
  display: inline-block;
  width: 260px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .feedback {
    @include flex-row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 78px 50px 0 50px;
    margin-bottom: 60px;
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: contain;
    background-position: left 0 top 0;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedback__title {
    @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
    order: 1;
    margin-left: -4px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      flex-grow: 1;
    }
  }

  .feedback__button {
    order: 2;
    width: 175px;
  }

  .feedback__item {
    order: 3;
    margin-top: 22px;
    padding-bottom: 45px;
  }

  .feedback__text {
    font-size: 17px;
    margin-bottom: 57px;
  }

  .feedback__author-name {
    font-size: 18px;
  }

  .feedback__nav-buttons {
    position: absolute;
    bottom: 15px;
    right: 50px;
    order: 4;
    width: 175px;
  }

  .feedback__nav-button {
    width: 50%;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 70px 50px 0 225px;
    margin-bottom: 75px;
    background-position: left 50px center;
  }

  .feedback__title {
    font-size: $desktop-header-font;
    line-height: 57px;
  }

  .feedback__item {
    margin-bottom: 50px;
  }

  .feedback__button {
    align-self: flex-end;
  }

  .feedback__nav-buttons {
    right: 50px;
    bottom: 64px;
  }

  .feedback__text {
    margin-bottom: 40px;
  }

  .feedback__author-name {
    font-size: 17px;
  }
}
