.feedback {
  padding: 25px 30px;
  // @include border(red);
}

.feedback__title {
  @include heading($h2-font-size);
}

.feedback__item {
  margin: 0;
  margin-bottom: 7px;
  padding: 25px 0;
}

.feedback__text {
  @include font-open-sans($size: $text-font-size, $color: $light-black, $lh: 30px);
  @include reset-mp;
  // padding: 0 0;
  margin-bottom: 27px;
}

.feedback__author-name {
  @include heading($h3-font-size, $lh: 24px);
  margin-top: 0;
  margin-bottom: 3px;
}

.feedback__author-account {
  @include font-open-sans($size: $h3-font-size, $color: $light-black, $lh: 30px);
  @include reset-mp;
}

.feedback__nav-buttons {
  display: flex;
  justify-content: space-between;
  // margin-top: 10px;
  margin-bottom: 38px;
}

.feedback__nav-button {
  width: 50%;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;
}

.feedback__nav-button:hover {
  background-color: white;
  opacity: 0.6;
}

.feedback__nav-button:active {
  background-color: white;
  opacity: 0.3;
}

.feedback__nav-button--left {
  border-right: 0;
  background-image: url("../img/icon-left-arrow.svg");
}

.feedback__nav-button--right {
  border-right: 0;
  background-image: url("../img/icon-right-arrow.svg");
}

.feedback__button {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding: 70px 50px 0 50px;
    position: relative;
    // @include border(red);
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: contain;
    background-position: left 0 top 0;
    margin-bottom: 50px;
  }

  .feedback__title {
    @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
    order: 1;
  }

  .feedback__item {
    order: 3;
  }

  .feedback__text {
    font-size: 17px;
  }

  .feedback__author-name {
    font-size: 18px;
  }

  .feedback__nav-buttons {
    position: absolute;
    bottom: 0;
    right: 50px;
    order: 4;
    width: 175px;
    // border: none;
    // @include border(green);
  }

  .feedback__nav-button {
    width: 50%;
    border: none;
  }

  .feedback__button {
    order: 2;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 70px 100px 0 270px;
    margin-bottom: 75px;
    background-position: left 100px center;
  }

  .feedback__title {
    font-size: $desktop-header-font;
    line-height: 57px;
  }

  .feedback__nav-buttons {
    right: 100px;
  }

  .feedback__author-name {
    font-size: 17px;
  }
}
