.page-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
}

.page-footer__social-list {
  @include list-reset;
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 0;
  padding: 5px 30px 0 30px;
  width: 260px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__item {
  padding: 23px 0;
}

.page-footer__logo-image {
  display: none;
}

.page-footer__social {
  width: 22px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #231f20;
  cursor: pointer;
}

.page-footer__social:hover {
  fill: $light-green;
  opacity: 0.6;
}

.page-footer__social:active {
  opacity: 0.3;
}

.page-footer__social--ig {
  width: 22px;
  height: 21px;
  margin-left: -6px;
}

.page-footer__social--fb {
  width: 15px;
  height: 28px;
  margin-left: -18px;
}

.page-footer__social--tw {
  width: 23px;
  height: 28px;
  margin-left: -25px;
}

.page-footer__copyright {
  @include reset-link;
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 15px 25px 20px 15px;
}

.page-footer__copyright-title {
  @include heading($size: 19px, $lh: 18px);
  margin-left: 9px;
}

.page-footer__copyright-logo {
  @include fill-and-align;
  fill: #63d1bb;
}

.page-footer__copyright:hover .page-footer__copyright-logo {
  fill: $hover-color;
}

.page-footer__copyright:active {
  .page-footer__copyright-title,
  .page-footer__copyright-logo {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include flex-row;
    justify-content: space-between;
    padding: 30px 50px 35px 50px;
    align-items: center;
    clear: both;
  }

  .page-footer__logo-link {
    margin-top: -13px;
  }

  .page-footer__logo-image {
    display: block;
    cursor: pointer;
  }

  .page-footer__logo-image:hover {
    fill: $hover-color;
  }

  .page-footer__logo-image:active {
    opacity: 0.3;
  }

  .page-footer__social-list {
    width: 240px;
    margin: 0;
    margin-left: 68px;
    border: none;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    justify-content: space-between;
    width: 180px;
    padding: 0;
    margin: 0;
  }

  .page-footer__copyright-title {
    padding: 0;
    transform: translateX(-12px);
  }

  .page-footer__copyright-logo {
    transform: translateX(0);
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 30px 50px;
  }

  .page-footer__social-list {
    margin-left: 80px;
  }

  .page-footer__copyright {
    width: 180px;

    .page-footer__copyright-logo {
      transform: translateX(-2px);
    }
  }
}
