.page-header {
  @include flex-column;
  @include border($border-gray);
  position: relative;
  min-height: 79px;
  min-width: 320px;
  border-left: none;
  border-right: none;
}

.page-header__logo {
  align-self: center;
  height: 80px;
  padding-top: 22px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.border-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    height: auto;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50px;
    height: 90px;
    z-index: 5;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: 50%;
    top: 8px;
    padding-top: 0;
    transform: translateX(-50%);
  }
}
