.page-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.page-footer__social-list {
  @include list-reset;
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 0;
  padding: 0 30px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__item {
  padding: 25px 0;
}

.page-footer__logo-image {
  display: none;
}

.page-footer__social {
  display: block;
  width: 22px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #231f20;
  cursor: pointer;
}

.page-footer__social:hover {
  fill: $light-green;
  opacity: 0.6;
}

.page-footer__social:active {
  opacity: 0.3;
}

.page-footer__social--ig {
  width: 22px;
  height: 21px;
}

.page-footer__social--fb {
  width: 15px;
  height: 28px;
}

.social--tw {
  width: 23px;
  height: 28px;
}

.page-footer__copyright {
  @include reset-link;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 20px 25px 20px 15px;
}

.page-footer__copyright-title {
  @include heading($size: 19px, $lh: 18px);
}

.page-footer__copyright-logo {
  @include fill-and-align;
  fill: #63d1bb;
}

.page-footer__copyright:hover .page-footer__copyright-logo {
  fill: $hover-color;
}

.page-footer__copyright:active {
  .page-footer__copyright-title,
  .page-footer__copyright-logo {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include flex-row;
    justify-content: space-between;
    padding: 35px 50px;
    align-items: center;
    clear: both;
  }

  .page-footer__logo-image {
    display: block;
    cursor: pointer;
  }

  .page-footer__logo-image:hover {
    fill: $hover-color;
  }

  .page-footer__logo-image:active {
    opacity: 0.3;
  }

  .page-footer__social-list {
    width: 200px;
    margin: 0;
    margin-left: 55px;
  }

  .page-footer__item {
    padding: 10px;
    margin: 0;
  }

  .page-footer__copyright {
    justify-content: space-between;
    width: 180px;
    padding: 0;
    margin: 0;
  }

  .page-footer__copyright-title {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 35px 50px;
  }
}
