.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  // @include border(red);
}

.page-header__logo {
  height: 80px;
  padding-top: 25px;
  align-self: center;
}

.nav-menu {
  display: none;
}

.nav-menu--slide-down {
  display: block;
}

.nav-menu__list {
  @include list-reset;
  @include flex-column;
}

.nav-menu__item {
  @include flex-row;
  position: relative;
  justify-content: center;
  padding: 30px 40px;
  border: 1px solid #ececec;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: contrast(0.5);
  }
}

.nav-menu__item-image {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  fill: #d3d2d2;
}


.nav-menu__item-link {
  @include reset-link;
  @include heading($h3-font-size);
  // text-align: right;
  // @include border(red);
}

.nav-menu__toggle {
  position: absolute;
  top: 35px;
  right: 30px;
  width: 21px;
  height: 20px;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat;
  outline: none;
  cursor: pointer;
}

.nav-menu__toggle--closed {
  background: url("../img/icon-menu-close.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    // margin: auto;
    // background-position: top 90px center;
    // @include border(red);
    height: auto;
    min-height: 560px;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 5;
    height: 90px;
    // align-self: flex-start;
  }

  .nav-menu__toggle {
    display: none;
  }

  .nav-menu {
    display: block;
    padding: 0 50px;
  }


  .nav-menu__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    // @include border(gold);
  }

  .nav-menu__list::after {
    @include font-open-sans($size: $text-font-size, $color: $light-black);
    content: "Бесплатная доставка по России";
    position: absolute;
    top: 110px;
    right: 50px;
    // color: blue;
  }

  .nav-menu__item {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0;
    border-top: none;
    border-bottom: none;

    &:first-child,
    &:nth-child(2) {
      width: 30%;
      border: none;

      .nav-menu__item-link {
        font-size: $text-font-size;
      }
    }

    &:nth-child(3) {
      margin-left: 50%;
      padding: 0;
      width: 80px;
      order: -2;
      // background-image: url("../img/icon-search.svg");
      // background-repeat: no-repeat;
      // background-position: center;

      .nav-menu__item-link {
        display: none;
      }
    }

    &:nth-child(4) {
      // width: auto;
      // @include flex-row;
      order: -1;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      // background-image: url("../img/icon-cart.svg");
      // background-repeat: no-repeat;
      // background-position: top 50% left 10%;
      border-right: none;
      border-left: none;
      padding: 0 0 0 20px;
      // @include border(blue);

      .nav-menu__item-image {
        // @include border(green);
        left: 20px;
        // position: static;
        // align-self: center;
      }
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 730px) {
  .nav-menu__item:nth-child(3) {
    margin-left: 30%;
  }

  .nav-menu__item:last-child {
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    // padding: 0 100px;
  }

  .page-header__logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-menu {
    display: block;
    padding: 0 100px;
  }

  .nav-menu__list::after {
    right: 100px;
  }

  .nav-menu__item:first-child {
    order: 1;
    width: 20%;
  }

  .nav-menu__item:first-child::after {
    @include font-open-sans-bold(15px);
    content: "Новые поступления";
    position: absolute;
    top: 110px;
    left: 0;
    cursor: pointer;
  }

  .nav-menu__item:nth-child(2) {
    order: 2;
    width: 20%;
    margin-right: 28%;
  }

  .nav-menu__item:nth-child(2)::after {
    @include font-open-sans-bold(15px);
    content: "Распродажа";
    position: absolute;
    top: 110px;
    left: 0;
    cursor: pointer;
  }

  .nav-menu__item:nth-child(3) {
    order: 3;
    margin: 0;
  }

  .nav-menu__item:last-child {
    order: 4;
  }
}
