.selection {
  @include flex-column;
  justify-content: space-between;
  // flex-grow: 1;
  padding-top: 50px;
  background: url("../img/hero-mobile@1x.jpg") no-repeat;
  background-position: top center;
  background-size: 575px 373px;
}

.page-header__title {
  display: block;
  min-height: 260px;
  width: 75%;
  margin: 0 auto;
  padding: 0 25px;
  color: #010000;
  text-align: center;

}

.selection__list {
  @include list-reset;
  @include flex-column;
  flex-grow: 1;
}

.selection__item {
  @include font-open-sans-bold($size: 19px, $color: #ffffff, $lh: 24px);
  @include flex-row;
  justify-content: space-between;
  flex-grow: 1;
  height: 100px;
  padding: 0 30px;
  background-repeat: no-repeat;
  background-color: $light-green;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    // height: calc(100% + 5px);
    // height: 200px;
    // transform: translateY(-5px);
    // height: calc(100% + 5px);
    transform: scaleY(1.05) translateY(-5%);
    // height: 105px;
  }

  &:hover .selection__item-name {
    transform: translateY(-5px);
  }

  &:hover .selection__item-image {
    transform: translateY(-5px);
  }

  &:active .selection__item-name {
    opacity: 0.6;
  }
}

.selection__item:nth-child(2n) {
  background-color: $dark-green;
}

.selection__item-name {
  align-self: center;
  width: 30%;
  transition: transform 0.5s;
}

.selection__item:first-child {
  .selection__item-image {
    margin-right: 7px;
  }
}

.selection__item-image {
  @include fill-and-align;
  transition: 0.5s;
}

@media (max-height: 480px) {
  .page-header__title {
    min-height: 200px;
  }

  .selection {
    background-position: top -75px center;
  }

  .selection__item {
    font-size: $text-font-size;
    line-height: 15px;
  }

  .selection__item-name {
    width: 50%;
  }
}

@media (min-width: $tablet-width) {
  .selection {
    min-height: 600px;
    margin-top: -80px;
    padding: 120px 50px 0 50px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto;
    background-position: center;
    background-color: #f9f9f9;
    z-index: 1;
    border-top: 1px solid $light-gray;
    // min-height: 300px;
    // @include border(tomato);
    justify-content: space-between;
  }

  .page-header__title {
    // @include font-open-sans-bold($size: $tablet-header-font, $lh: 50px);
    font-size: $tablet-header-font;
    line-height: 50px;
    padding: 0;
    min-height: auto;
    flex-grow: 0;
    // @include border(lightblue);
  }

  .selection__list {
    @include flex-row;
    // height: 120px;
    flex-grow: 0;
    // @include border(gold);
    // margin-bottom: -70px;
  }

  .selection__item {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .selection {
    padding: 120px 100px 0 100px;
    // @include border(red);
    justify-content: space-between;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
